<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all" href="../../../css/style.css" th:href="@{/css/style.css}" />
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script>
var app=angular.module('myApp', []);

app.controller('Ctrl', function($scope, $http) {
	  $http.get("http://localhost:8080/persns").then(function (response) {
	      $scope.myData = response.data;
	      console.log(response)
	  });
	});

app.directive('barsChart', function ($compile) {
  var directiveDefinitionObject = {
      restrict: 'E',
      replace: false,
      scope: {data: '=chartData'},
      link: function (scope, element, attrs) {
    	scope.data =[{"id":1,"firstName":"Mantu","lastName":"Singh","age":25},{"id":2,"firstName":"Rishu","lastName":"Singh","age":10},{"id":3,"firstName":"Rakesh","lastName":"Singh","age":15},{"id":4,"firstName":"Subhash","lastName":"Singh","age":30},{"id":5,"firstName":"Amit","lastName":"Singh","age":20},{"id":6,"firstName":"Akash","lastName":"Singh","age":30},{"id":7,"firstName":"Rahul","lastName":"Singh","age":18},{"id":8,"firstName":"Vikash","lastName":"Singh","age":25}];
        var chart = d3.select(element[0]);
         chart.append("div").attr("class", "chart")
          .selectAll('div')
          .data(scope.data).enter().append("div")
          .transition().ease("elastic")
          .style("width", function(d) { return d.age + "%"; })
          .text(function(d) { return d.firstName; });
      } 
   };
   return directiveDefinitionObject;
});

/* function Ctrl($scope) {
	$scope.myData = [{"id":1,"firstName":"Mantu","lastName":"Singh","age":25},{"id":2,"firstName":"Rishu","lastName":"Singh","age":10},{"id":3,"firstName":"Rakesh","lastName":"Singh","age":15},{"id":4,"firstName":"Subhash","lastName":"Singh","age":30},{"id":5,"firstName":"Amit","lastName":"Singh","age":20},{"id":6,"firstName":"Akash","lastName":"Singh","age":30},{"id":7,"firstName":"Rahul","lastName":"Singh","age":18},{"id":8,"firstName":"Vikash","lastName":"Singh","age":25}]
} 
 */

</script>
<body>
<div ng-app="myApp" ng-controller="Ctrl">
<ul>
  <li ng-repeat="x in myData">
    {{ x.firstName + ', ' + x.age }}
  </li>
</ul>
    <bars-chart chart-data="myData"  ></bars-chart>
</div>
</body>
</html>